.event {
    background-color: rgba(44, 44, 44, 0.719);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    min-width: 20%;

    word-wrap: break-word;
}

.date-values {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.479);
}

.values {
    margin: 5px;
    color: white;
}

.description {
    color: white;
    margin-left: 5px;
}

.description-area {
    background-color: rgba(0, 0, 0, 0.452);
    margin: 3px;
    border-radius: 10px;
    padding: 5px;
}

.event h3 {
    color: white;
}