* {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

body {
    background-image: linear-gradient(rgb(61, 61, 61), rgb(0, 0, 0));
}

.LandingPageBody {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#titleLanding {
    color: white;
    font-size: 200%;
}

.landingbutton {
    padding: 10%;
}

#footer-landingPage {
    display: flex;
    justify-content: flex-end;
    padding: 0 1% 0 0;

    color: white;
}

#welcome-message {
    color: white;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}